<form [formGroup]="devForm" class="example-form" (ngSubmit)="submitForm()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Technologies</mat-label>
    <input matInput formControlName="technologies" placeholder="Technologies">
  </mat-form-field>
  <button mat-flat-button color="primary">
    Create Dev
  </button>
</form>
